/* Header */
header {
    background-color: #E5E5E5;
}
#logobatman{
    display: block;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 84.69%;
    height: 30px;
    letter-spacing: 0.2ch;
}

/* MAIN */
main {
    max-width: 800px;
    margin: auto;
}
h1, h2 {
    color:#005677;
    background-color: #c4c4c4;
    font-family: 'Times New Roman';
    letter-spacing: 00.2ch;
}
.mayuscula {
    font-variant-caps: all-petite-caps;
}
.cursivanegrita {
    font-style: italic;
    font-weight: bold;
}
.negrita {
    font-weight: bold;
}
dd, dt, li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

/* Footer */
footer {
    background-color: #005677;
}
p {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #EEEEEE;
    text-align: center;
}
.imgredes {
    width: 20px;
    height: 20ox;
}